*.dat
*.log
*.TXT
*.dll.*
*.dll
*.txt
*.7z
*bak
*.conf
*.ico
*.rbz
*.exe
*.conf.sample
Antimicrox/
AudioFMOD/
backups/
Cars/
Extra/
FX/
Generic/
GhostCars/
Grafiken fur Skins/
Manuals/
Maps/
Meshes/
Misc/
Physics/
PixelShaders/
RBR_SetupManager-3.2.0.3/
RBRCIT/
RBR-Roadbook/
Replays/
reshade-shaders/
rsfdata/
RX_CONTENT/
SavedGames/
Screenshots/
Scripts/
Scripts.rbz
season.dat
sescenes/
SetupManager/
Setups/
SGA/
SGS/
Textures/
Video/
*.dmp
*.bmp
*.swo
richardburnsrally_sse.dxvk-cache
*.pdf
*.cfg
*.lua
SweetFX/
VertexShaders/
rsf_launcher/
rsf_installer_files/
*.scc
Audio/Surfaces/
Audio/Service/
Audio/Season/
Audio/RS/
Audio/PaceNote/
Audio/Music/
Audio/Impact/
!Audio/Impact/Speech/
Audio/Frontend/
Audio/Ambient/
Audio/Incident/
Audio/Number/
Plugins/RBRCountdown/
Plugins/Fixup
Plugins/NGPCarMenu
Plugins/PhysicsNG
PLUGINS/NGP
Plugins/NGPCarMenu.ini.sample
Plugins/Gauger.png
Audio/RallyIncident/
Audio/Incident.ini
Audio/Ingame.ini
Audio/Numbers.ini
Audio/NumOther.ini
Audio/Service.ini
Audio/Sound.ini
Audio/CoDriver.ini
Audio/CoOther.ini
Audio/Frontend.ini
Plugins/Pacenote/DashPositions.ini
Plugins/Pacenote/PaceNote.ini~
Plugins/Pacenote/PaceNote.sample.ini
Plugins/Pacenote/WindowPositions.ini
Plugins/Pacenote/datafiles/
Plugins/Pacenote/doc/
Plugins/Pacenote/.DS_Store
Plugins/Pacenote/._.DS_Store
*.un~
Plugins/Pacenote/language/swedish
Plugins/Pacenote/language/french
Plugins/Pacenote/language/english
Plugins/Pacenote/language/czech
Plugins/NGPCarMenu.ini
Plugins/Pacenote/cameras.ini
Plugins/Pacenote/Cameras.sample.ini
Plugins/Pacenote/bin/find-missing.cmd
Plugins/Pacenote/backup/
AllCars.ini
audio.ini
DefaultPreset.ini
input.ini
RallySimFans.ini
rallysimfans_personal.ini
RBRCIT.ini
RbrSetupManager.resources.ini
README.md
ReShade.ini
RichardBurnsRally.ini
WHBS.ini
Audio/Speech/NumIta
Audio/Speech/NumPol
Audio/Speech/NumSpa/
Audio/Speech/PaceNote/*.ogg
Audio/Speech/Pol/
Audio/Speech/Spa/
Audio/Speech/Incident/
Audio/Speech/Ita/
Audio/Speech/Number/
Audio/Speech/NumCzh/
Audio/Speech/NumFre/
Audio/Speech/Impact/Sound.ini
Audio/Speech/Impact/Sound.ini~
Audio/Speech/Broken/Czh/
Audio/Speech/Broken/Eng/
Audio/Speech/Broken/Fre/
Audio/Speech/Broken/Ita/
Audio/Speech/Broken/Pol/
Audio/Speech/Broken/Spa/
Audio/Speech/Czh/
Audio/Speech/Fre/
Audio/Speech/RallyIncident/Spa/
Audio/Speech/RallyIncident/Pol/
Audio/Speech/RallyIncident/Ita/
Audio/Speech/RallyIncident/Fre/
Audio/Speech/RallyIncident/Eng/snd_chopper.wav
Audio/Speech/RallyIncident/Czh/
Audio/Game/Go.sfk
